.bg-light-blue {
    background-color: hsla(178, 60%, 48%, 1);
}

.bg-dark-navy {
    background-color: hsla(200, 32%, 15%, 1);
}

.bg-semi-dark-navy {
    background-color: hsla(200, 35%, 19%, 1);
}

.bg-light-yello {
    background-color: hsla(39, 88%, 58%, 1);
}

.bg-silver {
    background-color: hsla(199, 24%, 73%, 1);
}



.text-dark-navy {
    color: hsla(200, 32%, 15%, 1);
}

.text-silver {
    color: hsla(199, 24%, 73%, 1);
}



.box-shadow-yellow {
    box-shadow: inset 0px -8px 0px #CC8B13;
}

.box-shadow-blue {
    box-shadow: inset 0px -8px 0px #118C87;
}


.light-blue-hover:hover {
    background-color: Light hsla(178, 76%, 66%, 1);
}

.light-yello-hover:hover {
    background-color: Light hsla(39, 100%, 69%, 1);
}

.silver-hover:hover {
    background-color: Light hsla(198, 35%, 89%, 1);
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 24px 32px 24px;
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
    width: 87.2%;
    max-width: 460px;
    min-width: 327px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 24px 18.13% 24px 18.13%;
    min-width: 191px;
}

.player-container {
    margin: 0px 24px 17px 24px;
    border-radius: 10px;
    display: flex;
    width: 94%;
}

button {
    all: unset;
    min-width: 327px;
    text-align: center;
    height: 67px;
    border-radius: 15px;
    width: 87.2%;
    max-width: 460px;
    margin-bottom: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    color: hsla(200, 32%, 15%, 1);
    text-transform: uppercase;
}

.player-container button{
    margin: 9px;
    min-width: 119px;
    text-align: center;
    height: 58px;
    max-width: 198px;
    border-radius: 10px;
    box-shadow: none;
}

svg {
    transform: scale(0.5);
}

h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 30px;
}








.for-period {
    display: none;
}